// font-weight, text-decoration, direction, line-height, ellipsis, font and text-align
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    // font
    @each $prop, $abbrev in (font-size: font) {
      @each $size in $fonts {
        .#{$prefix}#{$abbrev}-#{$size}#{$infix} {
          #{$prop}: #{$size}#{$fonts_unit} !important;
        }
      }
    }

    // text-align
    @each $prop, $abbrev in (text-align: txt) {
      @each $kind, $value in $text-aligns {
        .#{$prefix}#{$abbrev}-#{$kind}#{$infix} {
          #{$prop}: #{$value} !important;
        }
      }
    }
  }
}

//line height
@each $prop, $abbrev in (line-height: lh) {
  @each $size in $line_heights {
    .#{$prefix}#{$abbrev}-#{$size} {
      #{$prop}: #{$size}#{$line_height_unit} !important;
    }
  }
}

// font-weight
@each $prop, $abbrev in (font-weight: font-w) {
  @each $kind in $font_weights {
    .#{$prefix}#{$abbrev}-#{$kind} {
      #{$prop}: #{$kind} !important;
    }
  }
}

// font-style
@each $prop, $abbrev in (font-style: font-s) {
  @each $kind, $value in $font_style {
    .#{$prefix}#{$abbrev}-#{$kind} {
      #{$prop}: #{$value} !important;
    }
  }
}

// text-decoration
@each $prop, $abbrev in (text-decoration: decor) {
  @each $kind, $value in $text_decorations {
    .#{$prefix}#{$abbrev}-#{$kind} {
      #{$prop}: #{$value} !important;
    }
  }
}

// direction
@each $prop, $abbrev in (direction: dir) {
  @each $kind in $directions {
    .#{$prefix}#{$abbrev}-#{$kind} {
      #{$prop}: #{$kind} !important;
    }
  }
}

// line-height
.#{$prefix}ellipsis-none {
  overflow: initial !important;
  height: initial !important;
  text-overflow: initial !important;
  white-space: initial !important;
}


// RFS: responsive font size
// headings
.#{$prefix}h1 {
  font-size: calc(1rem + 0.84vw);
}

.#{$prefix}h2 {
  font-size: calc(1rem + 0.65vw);
}

.#{$prefix}h3 {
  font-size: calc(1rem + 0.35vw);
}

.#{$prefix}h4 {
  font-size: calc(1rem + 0.25vw);
}

.#{$prefix}h5 {
  font-size: calc(0.9rem + 0.15vw);
}

.#{$prefix}h6 {
  font-size: calc(1rem + 0.05vw)
}

// texts
.#{$prefix}txt-huge {
  font-size: calc(1rem + 0.4vw);
}

.#{$prefix}txt-big {
  font-size: calc(1rem + 0.2vw);
}

.#{$prefix}txt-med {
  font-size: calc(1rem + 0.1vw);
}

.#{$prefix}txt-small {
  font-size: calc(1rem + 0.05vw);
}

.#{$prefix}txt-smaller {
  font-size: calc(0.95rem + 0vw);
}

.#{$prefix}txt-tiny {
  font-size: calc(0.85rem + 0vw);
}

// utils
.#{$prefix}ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.#{$prefix}ellipsis-2 {
  overflow: hidden;
  line-height: 30px;
  height: 60px;
  display: block;
}

.#{$prefix}txt-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

