// image

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .#{$prefix}img-fluid#{$infix} {
      width: 100%;
      height: auto;
    }

    .#{$prefix}img-max-fluid#{$infix} {
      max-width: 100%;
      height: auto;
    }
  }
}