// list

.#{$prefix}list-hor {
  margin: 0;
  padding: 0;
}

.#{$prefix}list-hor > a {
  display: inline-block;
}

.#{$prefix}list-hor > li {
  display: inline-block;
  list-style: none;
}

.#{$prefix}list-ver {
  margin: 0;
  padding: 0;
}

.#{$prefix}list-ver > a {
  display: block;
}

.#{$prefix}list-ver > li {
  list-style: none;
}