// position

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (position: pos) {
      @each $kind in $positions {
        .#{$prefix}#{$infix}#{$abbrev}-#{$kind} {
          #{$prop}: #{$kind} !important;
        }
      }
    }
  }
}

// Some special position utils
.#{$prefix}position-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.#{$prefix}pos-top-wide, .#{$prefix}pos-tw {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.#{$prefix}pos-bottom-wide, .#{$prefix}pos-bw {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.#{$prefix}pos-top-left, .#{$prefix}pos-tl {
  position: absolute;
  left: 0;
  top: 0;
}

.#{$prefix}pos-top-right, .#{$prefix}pos-tr {
  position: absolute;
  right: 0;
  top: 0;
}

.#{$prefix}pos-bottom-left, .#{$prefix}pos-bl {
  position: absolute;
  left: 0;
  bottom: 0;
}

.#{$prefix}pos-bottom-right, .#{$prefix}pos-br {
  position: absolute;
  right: 0;
  bottom: 0;
}

.#{$prefix}pos-middle, .#{$prefix}pos-m {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  text-align: center;
}

.#{$prefix}pos-left, .#{$prefix}pos-l {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(-0, -50%);
}

.#{$prefix}pos-right, .#{$prefix}pos-r {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

.#{$prefix}pos-top, .#{$prefix}pos-t {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.#{$prefix}pos-bottom, .#{$prefix}pos-b {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}