// shadow
.#{$prefix}bg-shad-0 {
  box-shadow: 0 0 0 !important;
}

.#{$prefix}bg-shad-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) !important;
}

.#{$prefix}bg-shad-2 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) !important;
}

.#{$prefix}bg-shad-3 {
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.15) !important;
}

.#{$prefix}bg-shad-4 {
  box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.15) !important;
}

.#{$prefix}bg-shad-5 {
  box-shadow: 6px 9px 11px rgba(0, 0, 0, 0.15) !important;
}

.#{$prefix}txt-shad-0 {
  text-shadow: 0 0 0 !important;
}

.#{$prefix}txt-shad-1 {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15) !important;
}

.#{$prefix}txt-shad-2 {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) !important;
}

.#{$prefix}txt-shad-3 {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35) !important;
}

.#{$prefix}txt-shad-4 {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.45) !important;
}

.#{$prefix}txt-shad-5 {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.55) !important;
}