// margin and padding

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size in $spacers {
        .#{$prefix}#{$abbrev}-#{$size}#{$infix} {
          #{$prop}: #{$size}#{$spacers_unit} !important;
        }
        .#{$prefix}#{$abbrev}t-#{$size}#{$infix},
        .#{$prefix}#{$abbrev}y-#{$size}#{$infix} {
          #{$prop}-top: #{$size}#{$spacers_unit} !important;
        }
        .#{$prefix}#{$abbrev}r-#{$size}#{$infix},
        .#{$prefix}#{$abbrev}x-#{$size}#{$infix} {
          #{$prop}-right: #{$size}#{$spacers_unit} !important;
        }
        .#{$prefix}#{$abbrev}b-#{$size}#{$infix},
        .#{$prefix}#{$abbrev}y-#{$size}#{$infix} {
          #{$prop}-bottom: #{$size}#{$spacers_unit} !important;
        }
        .#{$prefix}#{$abbrev}l-#{$size}#{$infix},
        .#{$prefix}#{$abbrev}x-#{$size}#{$infix} {
          #{$prop}-left: #{$size}#{$spacers_unit} !important;
        }
      }
    }

    // Some special margin utils
    .#{$prefix}m-auto #{$infix} {
      margin: auto !important;
    }
    .#{$prefix}mt-auto#{$infix},
    .#{$prefix}my-auto#{$infix} {
      margin-top: auto !important;
    }
    .#{$prefix}mr-auto#{$infix},
    .#{$prefix}mx-auto#{$infix} {
      margin-right: auto !important;
    }
    .#{$prefix}mb-auto#{$infix},
    .#{$prefix}my-auto#{$infix} {
      margin-bottom: auto !important;
    }
    .#{$prefix}ml-auto#{$infix},
    .#{$prefix}mx-auto#{$infix} {
      margin-left: auto !important;
    }
  }
}
@each $breakpoint in map-keys($grid-breakpoints-only) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size in $spacers {
        .#{$prefix}#{$abbrev}-#{$size}#{$infix} {
          #{$prop}: #{$size}#{$spacers_unit} !important;
        }
        .#{$prefix}#{$abbrev}t-#{$size}#{$infix},
        .#{$prefix}#{$abbrev}y-#{$size}#{$infix} {
          #{$prop}-top: #{$size}#{$spacers_unit} !important;
        }
        .#{$prefix}#{$abbrev}r-#{$size}#{$infix},
        .#{$prefix}#{$abbrev}x-#{$size}#{$infix} {
          #{$prop}-right: #{$size}#{$spacers_unit} !important;
        }
        .#{$prefix}#{$abbrev}b-#{$size}#{$infix},
        .#{$prefix}#{$abbrev}y-#{$size}#{$infix} {
          #{$prop}-bottom: #{$size}#{$spacers_unit} !important;
        }
        .#{$prefix}#{$abbrev}l-#{$size}#{$infix},
        .#{$prefix}#{$abbrev}x-#{$size}#{$infix} {
          #{$prop}-left: #{$size}#{$spacers_unit} !important;
        }
      }
    }

    // Some special margin utils
    .#{$prefix}m-auto #{$infix} {
      margin: auto !important;
    }
    .#{$prefix}mt-auto#{$infix},
    .#{$prefix}my-auto#{$infix} {
      margin-top: auto !important;
    }
    .#{$prefix}mr-auto#{$infix},
    .#{$prefix}mx-auto#{$infix} {
      margin-right: auto !important;
    }
    .#{$prefix}mb-auto#{$infix},
    .#{$prefix}my-auto#{$infix} {
      margin-bottom: auto !important;
    }
    .#{$prefix}ml-auto#{$infix},
    .#{$prefix}mx-auto#{$infix} {
      margin-left: auto !important;
    }
  }
}
